    <p>Gitlab and Linkedin icons made by <a href="https://www.flaticon.com/authors/smashicons"
            title="Smashicons" target="_blank">Smashicons</a> from <a href="https://www.flaticon.com/"
            title="Flaticon" target="_blank">www.flaticon.com</a></p>
    <p>Other icons made by <a href="https://css.gg/" title="css.gg" target="_blank">css.gg</a></p>
    <br>
    <p>Hosted thanks to <a href="https://www.digitalocean.com/" title="Digital Ocean" target="_blank">Digital Ocean</a></p>